
* {
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Katibeh', cursive;
}

th {
    font-size: 28px;
    text-align: center;
    margin-left: 8px;

}

td {
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
}
table {
    width: 100%;
}

#submit-button {

    width:100px;
    padding:15px;
    font-size: 20px;
  
}

.card-header {
    font-size: 35px;
}

.container {
    width: 1000px;
    height:100%;
    opacity: 0.8;
    background-color: rgb(138, 61, 61); 
}